# =================================================================
#
# Authors: Tom Kralidis <tomkralidis@gmail.com>
#
# Copyright (c) 2015 Tom Kralidis
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

[server]
home=C:/ms4w/apps/pycsw-2.6.0
url=http://127.0.0.1:8787/pycsw/
mimetype=application/xml; charset=UTF-8
encoding=UTF-8
language=en-US
maxrecords=10
#loglevel=DEBUG
#logfile=C:/ms4w/apps/pycsw-2.6.0/pycsw/log.txt
#ogc_schemas_base=http://foo
#federatedcatalogues=http://catalog.data.gov/csw
#pretty_print=true
gzip_compresslevel=9
#domainquerytype=range
#domaincounts=true
#spatial_ranking=true
profiles=apiso

[manager]
transactions=false
allowed_ips=127.0.0.1
#csw_harvest_pagesize=10

[metadata:main]
identification_title=MS4W's pycsw Geospatial Catalogue
identification_abstract=pycsw is an OGC CSW (Catalogue Server for the Web) server implementation written in Python, the allows for easy publishing and searching metadata (read more about pycsw at http://pycsw.org/).  As of MS4W 4.0 (https://ms4w.com), pycsw and Python 3.x are included in MS4W (the popular MapServer for Windows installer) by default, to make it easier for Windows users.
identification_keywords=catalogue,discovery,metadata,ms4w
identification_keywords_type=theme
identification_fees=None
identification_accessconstraints=None
provider_name=GatewayGeo
provider_url=http://gatewaygeo.com/
contact_name=McKenna, Jeff
contact_position=Director
contact_email=info@gatewaygeomatics.com
contact_url=http://gatewaygeomatics.com/
contact_role=pointOfContact

[repository]
# sqlite
#database=sqlite:///C:\\ms4w\\apps\\pycsw-2.6.0\\tests\\functionaltests\\suites\\cite\\data\\cite.db
database=sqlite:///tests\\functionaltests\\suites\\cite\\data\\cite.db
# postgres
#database=postgresql://username:password@localhost/pycsw
# mysql
#database=mysql://username:password@localhost/pycsw?charset=utf8
#mappings=path/to/mappings.py
table=records
#filter=type = 'http://purl.org/dc/dcmitype/Dataset'

[metadata:inspire]
enabled=true
languages_supported=eng,gre
default_language=eng
date=YYYY-MM-DD
gemet_keywords=Utility and governmental services
conformity_service=notEvaluated
contact_name=Organization Name
contact_email=Email Address
temp_extent=YYYY-MM-DD/YYYY-MM-DD

